/* # Grid Rules
================================================== */
.container
.container.base                             { position: relative; margin: 0 auto; padding: 0; }
.container .column,
.container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha               { margin-left: 0;  }
.column.omega, .columns.omega               { margin-right: 0; }

/* Center Text*/
.columns.center,
.container.center,
.container .center                          { text-align: center; }

.container.base                             { position: relative; margin: 0 auto; padding: 0; }
.container .base                            { margin: 0 auto; padding: 0;}
.container .base .row,
.container .base.row                        { margin-bottom: 20px; }

/* The Grid */
.container,
.container.base                             { width: 1000px; }
.container .base.quarter                    { width: 250px;  }
.container .base.half                       { width: 500px;  }
.container .base.ten                        { width: 1000px; }

.container .base.one-third                  { width: 150px;  }
.container .base.offset-quarter             { margin-left: 250px; }


/* #Clearing
================================================== */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
.row:after,
.clearfix:after {
    clear: both; }
.row,
.clearfix {
    zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}