/* header menu links */
#header_menu ul li a {
    font: 16px CrimsonText-Semibold, Arial;
    line-height: 17px;
}

/* search form */
#search_form .wrapper {
    font: normal 90.85% Verdana, Arial, sans-serif;
}

/* post intro font */
.post header.intro {
    font: 13px CrimsonText-Semibold, Georgia;
    color: #4f3f2f;
}

/* post header title */
.post .header h1 {
    font: bold 15.5px Georgia, CrimsonText-Semibold;
}
.post .header h1:first-letter {
    font-size: 104.82%;
}
/* post header (for other thins, e.g. the vote plugin) */
.post .header {
    font-size: 16px;
}
.post .header .likes_no {
    font-size: 17px;
    font-weight: bold;
}

/* post header comments link */
.post .header h3 a {
    color: #a9a58f;
    font: bold 12.5px Trebuchet, Verdana, CrimsonText-Semibold;
}

/* prev/next page link */
.post .prev-next-page .next a {
    font: 17px Arial, Tahoma;
}

/* post font */
.post {
    font: 18px CrimsonText-Semibold, Georgia;
    color: #594a3b;
}

/* post description */
.post #img-main,
.post #recipe-title {
    font: 15px Georgia, CrimsonText-Semibold;
    color: #4f3f2f;
}

/* post archive */
.post_archive h2 {
    font: bold 16px "Trebuchet MS", "Microsoft Sans Serif", CrimsonText-Semibold, Verdana;
}
.post_archive h2:first-letter {
    font-size: 105.82%;
}
.post_archive h4 {
    font: 84.87% "Trebuchet MS", "Microsoft Sans Serif", Verdana;
}
.post_archive p {
    font: 84.87% "Microsoft Sans Serif", "Sans Serif", Verdana;
}

/* tiny post */
.tiny_post .post_text {
    /*font: 13px Verdana, Georgia;*/
}

/* sidebars */
#sidebar-right h2, #sidebar-left h2 {
    font: 11pt Bookman Old Style, Trebuchet, Trebuchet MS, Verdana, sans-serif;
}

#sidebar-left ul li a {
    font: 14px Trebuchet MS, Georgia;
}
#sidebar-right ul li a {
    font: 15px Trebuchet MS, Lucida Console, Georgia,  sans-serif;
}

/* comments */
#respond form div.row label {
    font: 110.45% "Trebuchet MS", Verdana, Arial, sans-serif;
}
#respond form #comment {
    font-size: 115%;
}
#respond form div.box-submit #button_submit {
    font: 90.45% "Trebuchet MS", "Verdana", "Arial", sans-serif;
}
#comments .comments-lists li .comment-author {
    font-size:120%;
}
#content #comments .comments-lists li p {
    font-size: 109%;
}
.nav-prev-next-comment {
    font-size:13px;
}

/* footer */
#footer {
    font: 14px "Trebuchet MS", Verdana, Arial, sans-serif;;
}
#footer h4 {
    font-size: 16px;
}


/* Smaller than 768 */
@media only screen and (max-width: 767px) {
    /* tiny post */
    .tiny_post .post_text {
        font: bold 14px Trebuchet MS, Trebuchet, Verdana;
    }
}

/* Bigger than 768 */
@media only screen and (min-width: 768px) {
    @font-face {
        font-family: 'CrimsonText-Semibold';
        src: url('./fonts/CrimsonText-Semibold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

/* Bigger than 1440 */
@media only screen and (min-width: 1440px) {
    /* header links */
    #header_menu ul li a {
        font: 19px/17px CrimsonText-Semibold,Arial;
    }

    /* post */

    /* post description */
    .post #img-main,
    .post #recipe-title {
        font: 19px Georgia,CrimsonText-Semibold;
    }
    /* main page intro */
    .post header.intro {
        font: 18px CrimsonText-Semibold, Georgia;
    }
    /* title */
    .post .header h1 {
        font: bold 20.5px Georgia,CrimsonText-Semibold;
        margin: 0.2em 2em 0.4em;
    }
    /* leave a comment */
    .post .header h3 a {
        font: bold 15.5px Trebuchet,Verdana,CrimsonText-Semibold;
    }
    /* step no */
    #recipe > div::before, #recipe > #recipeInstructions > div::before{
        font: bold 20px Arial;
    }

    /* recipe sections */
    .post_archive h2 {
        font: bold 19px "Trebuchet MS","Microsoft Sans Serif",CrimsonText-Semibold,Verdana;
    }

    /* post contents */
    .post {
        font: 20px CrimsonText-Semibold,Georgia;
    }

    /* tiny post */
    .tiny_post .post_text {

    }
    /* prev/net link */
    .post .prev-next-page .next a {
        font: 20px Arial,Tahoma;
    }

    /*// Sidebars*/
    #sidebar-right ul li a {
        font: 18px Trebuchet MS, Lucida Console, Georgia, sans-serif;
    }

    #sidebar-right ul li, #sidebar-left ul li {
        margin: 0px 2px 0.5432em;
    }
    #sidebar-left ul li a {
        font: 17px Trebuchet MS,Georgia;
    }
    #sidebar-right h2, #sidebar-left h2 {
        font: 18px Bookman Old Style,Trebuchet,Trebuchet MS,Verdana,sans-serif;
    }
}